{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": 8
        },
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    "transform-async-to-generator"
  ]
}